{% extends "base.html" %}

{% block contents %}

    <div id="fh5co-board" data-columns>

        {% for a_item in results.list %}
            <div class="item">
                <div class="animate-box">
                    <a href="{{ a_item.url }}" class="image-popup fh5co-board-img" title="{{ a_item.title }}">
                        <img src="{{ a_item.url }}" alt="{{ a_item.title }}">
                    </a>
                </div>
                <div class="fh5co-desc">
                    {{ a_item.title }}
                    <div align="right">
                        {% if a_item.type == 'S1' %}
                            <a href="javascript:"><span class="glyphicon glyphicon-search" aria-hidden="true" data-link="{{ a_item.url }}" title="Google Image Search"></span></a>
                        {% else %}
                            <a href="javascript:"><span class="glyphicon glyphicon-picture" aria-hidden="true" data-link="{{ a_item.url }}" title="Reverse Image Search"></span></a>
                            <a href="javascript:"><span class="glyphicon glyphicon-info-sign" aria-hidden="true" data-link="{{ a_item.url }}" title="Predict Image"></span></a>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}

    </div>

{% endblock %}

{% block script %}
    <script>
        $(document).ready(function () {
            $(".glyphicon-search").bind('click', function () {
                location.href = '{% url "search" %}' + "?q=" + $(this).data('link');
            });

            $(".glyphicon-picture").bind('click', function () {
                location.href = '{% url "search_by_clarifai" %}' + "?q=" + $(this).data('link');
            });

            $(".glyphicon glyphicon-info-sign").bind('click', function () {
                location.href = '{% url "predict_by_clarifai" %}' + "?q=" + $(this).data('link');
            });
        });
    </script>
{% endblock %}
